extends layout

block content
  .container
    .main
      header.clearfix
        h1 CS576 - PhotoViewer
          span A multimedia project
        .support-note
          span.note-ie Sorry, only modern browsers.
      #gamma-container.gamma-container.gamma-loading
        ul.gamma-gallery
        .gamma-overlay       
        //#loadmore.loadmore
          | Example for loading more items...