extends layout

block content
  .container
    .main
      header.clearfix
        h1 CS576 - PhotoViewer
          span A multimedia project
        .support-note
          span.note-ie Sorry, only modern browsers.
      #gamma-container.gamma-container.gamma-loading
        ul.gamma-gallery
          li
            div(data-alt='img03', data-description='<h3>Sky high</h3>', data-max-height='1350', data-max-width='1800')
              div(data-min-width='1300', data-src='images/xxxlarge/3.jpg')
              div(data-min-width='1000', data-src='images/xxlarge/3.jpg')
              div(data-min-width='700', data-src='images/xlarge/3.jpg')
              div(data-min-width='300', data-src='images/large/3.jpg')
              div(data-min-width='200', data-src='images/medium/3.jpg')
              div(data-min-width='140', data-src='images/small/3.jpg')
              div(data-src='images/xsmall/3.jpg')
              noscript
                img(alt='img03', src='images/xsmall/3.jpg')
        .gamma-overlay       
        #loadmore.loadmore
          | Example for loading more items...