extends layout

block content
  .container
    .main
      header.clearfix
        h1
          | CS576 - PhotoViewer
          span A multimedia project
        |         
        .support-note
          span.note-ie Sorry, only modern browsers.
      |       
      #gamma-container.gamma-container.gamma-loading
        ul.gamma-gallery
          li
            div(data-alt='img03', data-description='<h3>Sky high</h3>', data-max-height='1350', data-max-width='1800')
              div(data-min-width='1300', data-src='images/xxxlarge/3.jpg')
              |               
              div(data-min-width='1000', data-src='images/xxlarge/3.jpg')
              |               
              div(data-min-width='700', data-src='images/xlarge/3.jpg')
              |               
              div(data-min-width='300', data-src='images/large/3.jpg')
              |               
              div(data-min-width='200', data-src='images/medium/3.jpg')
              |               
              div(data-min-width='140', data-src='images/small/3.jpg')
              |               
              div(data-src='images/xsmall/3.jpg')
              noscript
                img(alt='img03', src='images/xsmall/3.jpg')
          |           
          li
            div(data-alt='img03', data-description='<h3>Sky high</h3>', data-max-height='1350', data-max-width='1800')
              div(data-min-width='1300', data-src='images/xxxlarge/3.jpg')
              |               
              div(data-min-width='1000', data-src='images/xxlarge/3.jpg')
              |               
              div(data-min-width='700', data-src='images/xlarge/3.jpg')
              |               
              div(data-min-width='300', data-src='images/large/3.jpg')
              |               
              div(data-min-width='200', data-src='images/medium/3.jpg')
              |               
              div(data-min-width='140', data-src='images/small/3.jpg')
              |               
              div(data-src='images/xsmall/3.jpg')
              noscript
                img(alt='img03', src='images/xsmall/3.jpg')
          |           
          li
            div(data-alt='img03', data-description='<h3>Sky high</h3>', data-max-height='1350', data-max-width='1800')
              div(data-min-width='1300', data-src='images/xxxlarge/3.jpg')
              |               
              div(data-min-width='1000', data-src='images/xxlarge/3.jpg')
              |               
              div(data-min-width='700', data-src='images/xlarge/3.jpg')
              |               
              div(data-min-width='300', data-src='images/large/3.jpg')
              |               
              div(data-min-width='200', data-src='images/medium/3.jpg')
              |               
              div(data-min-width='140', data-src='images/small/3.jpg')
              |               
              div(data-src='images/xsmall/3.jpg')
              noscript
                img(alt='img03', src='images/xsmall/3.jpg')
          |           
          li
            div(data-alt='img03', data-description='<h3>Sky high</h3>', data-max-height='1350', data-max-width='1800')
              div(data-min-width='1300', data-src='images/xxxlarge/3.jpg')
              |               
              div(data-min-width='1000', data-src='images/xxlarge/3.jpg')
              |               
              div(data-min-width='700', data-src='images/xlarge/3.jpg')
              |               
              div(data-min-width='300', data-src='images/large/3.jpg')
              |               
              div(data-min-width='200', data-src='images/medium/3.jpg')
              |               
              div(data-min-width='140', data-src='images/small/3.jpg')
              |               
              div(data-src='images/xsmall/3.jpg')
              noscript
                img(alt='img03', src='images/xsmall/3.jpg')
          |           
          li
            div(data-alt='img03', data-description='<h3>Sky high</h3>', data-max-height='1350', data-max-width='1800')
              div(data-min-width='1300', data-src='images/xxxlarge/3.jpg')
              |               
              div(data-min-width='1000', data-src='images/xxlarge/3.jpg')
              |               
              div(data-min-width='700', data-src='images/xlarge/3.jpg')
              |               
              div(data-min-width='300', data-src='images/large/3.jpg')
              |               
              div(data-min-width='200', data-src='images/medium/3.jpg')
              |               
              div(data-min-width='140', data-src='images/small/3.jpg')
              |               
              div(data-src='images/xsmall/3.jpg')
              noscript
                img(alt='img03', src='images/xsmall/3.jpg')
          |           
          li
            div(data-alt='img03', data-description='<h3>Sky high</h3>', data-max-height='1350', data-max-width='1800')
              div(data-min-width='1300', data-src='images/xxxlarge/3.jpg')
              |               
              div(data-min-width='1000', data-src='images/xxlarge/3.jpg')
              |               
              div(data-min-width='700', data-src='images/xlarge/3.jpg')
              |               
              div(data-min-width='300', data-src='images/large/3.jpg')
              |               
              div(data-min-width='200', data-src='images/medium/3.jpg')
              |               
              div(data-min-width='140', data-src='images/small/3.jpg')
              |               
              div(data-src='images/xsmall/3.jpg')
              noscript
                img(alt='img03', src='images/xsmall/3.jpg')
          |           
          li
            div(data-alt='img03', data-description='<h3>Sky high</h3>', data-max-height='1350', data-max-width='1800')
              div(data-min-width='1300', data-src='images/xxxlarge/3.jpg')
              |               
              div(data-min-width='1000', data-src='images/xxlarge/3.jpg')
              |               
              div(data-min-width='700', data-src='images/xlarge/3.jpg')
              |               
              div(data-min-width='300', data-src='images/large/3.jpg')
              |               
              div(data-min-width='200', data-src='images/medium/3.jpg')
              |               
              div(data-min-width='140', data-src='images/small/3.jpg')
              |               
              div(data-src='images/xsmall/3.jpg')
              noscript
                img(alt='img03', src='images/xsmall/3.jpg')
          |           
          li
            div(data-alt='img03', data-description='<h3>Sky high</h3>', data-max-height='1350', data-max-width='1800')
              div(data-min-width='1300', data-src='images/xxxlarge/3.jpg')
              |               
              div(data-min-width='1000', data-src='images/xxlarge/3.jpg')
              |               
              div(data-min-width='700', data-src='images/xlarge/3.jpg')
              |               
              div(data-min-width='300', data-src='images/large/3.jpg')
              |               
              div(data-min-width='200', data-src='images/medium/3.jpg')
              |               
              div(data-min-width='140', data-src='images/small/3.jpg')
              |               
              div(data-src='images/xsmall/3.jpg')
              noscript
                img(alt='img03', src='images/xsmall/3.jpg')
          |           
          li
            div(data-alt='img03', data-description='<h3>Sky high</h3>', data-max-height='1350', data-max-width='1800')
              div(data-min-width='1300', data-src='images/xxxlarge/3.jpg')
              |               
              div(data-min-width='1000', data-src='images/xxlarge/3.jpg')
              |               
              div(data-min-width='700', data-src='images/xlarge/3.jpg')
              |               
              div(data-min-width='300', data-src='images/large/3.jpg')
              |               
              div(data-min-width='200', data-src='images/medium/3.jpg')
              |               
              div(data-min-width='140', data-src='images/small/3.jpg')
              |               
              div(data-src='images/xsmall/3.jpg')
              noscript
                img(alt='img03', src='images/xsmall/3.jpg')
          |           
          li
            div(data-alt='img03', data-description='<h3>Sky high</h3>', data-max-height='1350', data-max-width='1800')
              div(data-min-width='1300', data-src='images/xxxlarge/3.jpg')
              |               
              div(data-min-width='1000', data-src='images/xxlarge/3.jpg')
              |               
              div(data-min-width='700', data-src='images/xlarge/3.jpg')
              |               
              div(data-min-width='300', data-src='images/large/3.jpg')
              |               
              div(data-min-width='200', data-src='images/medium/3.jpg')
              |               
              div(data-min-width='140', data-src='images/small/3.jpg')
              |               
              div(data-src='images/xsmall/3.jpg')
              noscript
                img(alt='img03', src='images/xsmall/3.jpg')
          |           
          li
            div(data-alt='img03', data-description='<h3>Sky high</h3>', data-max-height='1350', data-max-width='1800')
              div(data-min-width='1300', data-src='images/xxxlarge/3.jpg')
              |               
              div(data-min-width='1000', data-src='images/xxlarge/3.jpg')
              |               
              div(data-min-width='700', data-src='images/xlarge/3.jpg')
              |               
              div(data-min-width='300', data-src='images/large/3.jpg')
              |               
              div(data-min-width='200', data-src='images/medium/3.jpg')
              |               
              div(data-min-width='140', data-src='images/small/3.jpg')
              |               
              div(data-src='images/xsmall/3.jpg')
              noscript
                img(alt='img03', src='images/xsmall/3.jpg')
          |           
          li
            div(data-alt='img03', data-description='<h3>Sky high</h3>', data-max-height='1350', data-max-width='1800')
              div(data-min-width='1300', data-src='images/xxxlarge/3.jpg')
              |               
              div(data-min-width='1000', data-src='images/xxlarge/3.jpg')
              |               
              div(data-min-width='700', data-src='images/xlarge/3.jpg')
              |               
              div(data-min-width='300', data-src='images/large/3.jpg')
              |               
              div(data-min-width='200', data-src='images/medium/3.jpg')
              |               
              div(data-min-width='140', data-src='images/small/3.jpg')
              |               
              div(data-src='images/xsmall/3.jpg')
              noscript
                img(alt='img03', src='images/xsmall/3.jpg')
          |           
          li
            div(data-alt='img03', data-description='<h3>Sky high</h3>', data-max-height='1350', data-max-width='1800')
              div(data-min-width='1300', data-src='images/xxxlarge/3.jpg')
              |               
              div(data-min-width='1000', data-src='images/xxlarge/3.jpg')
              |               
              div(data-min-width='700', data-src='images/xlarge/3.jpg')
              |               
              div(data-min-width='300', data-src='images/large/3.jpg')
              |               
              div(data-min-width='200', data-src='images/medium/3.jpg')
              |               
              div(data-min-width='140', data-src='images/small/3.jpg')
              |               
              div(data-src='images/xsmall/3.jpg')
              noscript
                img(alt='img03', src='images/xsmall/3.jpg')
          |           
          li
            div(data-alt='img03', data-description='<h3>Sky high</h3>', data-max-height='1350', data-max-width='1800')
              div(data-min-width='1300', data-src='images/xxxlarge/3.jpg')
              |               
              div(data-min-width='1000', data-src='images/xxlarge/3.jpg')
              |               
              div(data-min-width='700', data-src='images/xlarge/3.jpg')
              |               
              div(data-min-width='300', data-src='images/large/3.jpg')
              |               
              div(data-min-width='200', data-src='images/medium/3.jpg')
              |               
              div(data-min-width='140', data-src='images/small/3.jpg')
              |               
              div(data-src='images/xsmall/3.jpg')
              noscript
                img(alt='img03', src='images/xsmall/3.jpg')
          |           
          li
            div(data-alt='img03', data-description='<h3>Sky high</h3>', data-max-height='1350', data-max-width='1800')
              div(data-min-width='1300', data-src='images/xxxlarge/3.jpg')
              |               
              div(data-min-width='1000', data-src='images/xxlarge/3.jpg')
              |               
              div(data-min-width='700', data-src='images/xlarge/3.jpg')
              |               
              div(data-min-width='300', data-src='images/large/3.jpg')
              |               
              div(data-min-width='200', data-src='images/medium/3.jpg')
              |               
              div(data-min-width='140', data-src='images/small/3.jpg')
              |               
              div(data-src='images/xsmall/3.jpg')
              noscript
                img(alt='img03', src='images/xsmall/3.jpg')
          |           
          li
            div(data-alt='img03', data-description='<h3>Sky high</h3>', data-max-height='1350', data-max-width='1800')
              div(data-min-width='1300', data-src='images/xxxlarge/3.jpg')
              |               
              div(data-min-width='1000', data-src='images/xxlarge/3.jpg')
              |               
              div(data-min-width='700', data-src='images/xlarge/3.jpg')
              |               
              div(data-min-width='300', data-src='images/large/3.jpg')
              |               
              div(data-min-width='200', data-src='images/medium/3.jpg')
              |               
              div(data-min-width='140', data-src='images/small/3.jpg')
              |               
              div(data-src='images/xsmall/3.jpg')
              noscript
                img(alt='img03', src='images/xsmall/3.jpg')
          |           
          li
            div(data-alt='img03', data-description='<h3>Sky high</h3>', data-max-height='1350', data-max-width='1800')
              div(data-min-width='1300', data-src='images/xxxlarge/3.jpg')
              |               
              div(data-min-width='1000', data-src='images/xxlarge/3.jpg')
              |               
              div(data-min-width='700', data-src='images/xlarge/3.jpg')
              |               
              div(data-min-width='300', data-src='images/large/3.jpg')
              |               
              div(data-min-width='200', data-src='images/medium/3.jpg')
              |               
              div(data-min-width='140', data-src='images/small/3.jpg')
              |               
              div(data-src='images/xsmall/3.jpg')
              noscript
                img(alt='img03', src='images/xsmall/3.jpg')
          |           
          li
            div(data-alt='img03', data-description='<h3>Sky high</h3>', data-max-height='1350', data-max-width='1800')
              div(data-min-width='1300', data-src='images/xxxlarge/3.jpg')
              |               
              div(data-min-width='1000', data-src='images/xxlarge/3.jpg')
              |               
              div(data-min-width='700', data-src='images/xlarge/3.jpg')
              |               
              div(data-min-width='300', data-src='images/large/3.jpg')
              |               
              div(data-min-width='200', data-src='images/medium/3.jpg')
              |               
              div(data-min-width='140', data-src='images/small/3.jpg')
              |               
              div(data-src='images/xsmall/3.jpg')
              noscript
                img(alt='img03', src='images/xsmall/3.jpg')
          |           
          li
            div(data-alt='img03', data-description='<h3>Sky high</h3>', data-max-height='1350', data-max-width='1800')
              div(data-min-width='1300', data-src='images/xxxlarge/3.jpg')
              |               
              div(data-min-width='1000', data-src='images/xxlarge/3.jpg')
              |               
              div(data-min-width='700', data-src='images/xlarge/3.jpg')
              |               
              div(data-min-width='300', data-src='images/large/3.jpg')
              |               
              div(data-min-width='200', data-src='images/medium/3.jpg')
              |               
              div(data-min-width='140', data-src='images/small/3.jpg')
              |               
              div(data-src='images/xsmall/3.jpg')
              noscript
                img(alt='img03', src='images/xsmall/3.jpg')
          |           
          li#testid
            div(data-alt='img03', data-description='<h3>Sky high</h3>', data-max-height='1350', data-max-width='1800')
              div(data-min-width='1300', data-src='images/xxxlarge/3.jpg')
              |               
              div(data-min-width='1000', data-src='images/xxlarge/3.jpg')
              |               
              div(data-min-width='700', data-src='images/xlarge/3.jpg')
              |               
              div(data-min-width='300', data-src='images/large/3.jpg')
              |               
              div(data-min-width='200', data-src='images/medium/3.jpg')
              |               
              div(data-min-width='140', data-src='images/small/3.jpg')
              |               
              div(data-src='images/xsmall/3.jpg')
              img(alt='img03', src='images/xsmall/3.jpg')
        |         
        .gamma-overlay
        |         
        #loadmore.loadmore
          | Example for loading more items...
    // /main
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
  |  
  script(src='/javascripts/jquery.masonry.min.js')
  |  
  script(src='/javascripts/jquery.history.js')
  |  
  script(src='/javascripts/js-url.min.js')
  |  
  script(src='/javascripts/jquerypp.custom.js')
  |  
  script(src='/javascripts/gamma.js')
  |  
  script(type='text/javascript').
    $(function() {
    var GammaSettings = {
    // order is important!
    viewport : [ {
    width : 1200,
    columns : 5
    }, {
    width : 900,
    columns : 4
    }, {
    width : 500,
    columns : 3
    }, {
    width : 320,
    columns : 2
    }, {
    width : 0,
    columns : 2
    } ]
    };
    Gamma.init( GammaSettings, fncallback );
    // Example how to add more items (just a dummy):
    var page = 0,
    items = ['<li><div data-alt="img03" data-description="<h3>Sky high<\\/h3>" data-max-width="1800" data-max-height="1350"><div data-src="images/xxxlarge/3.jpg" data-min-width="1300"><\/div><div data-src="images/xxlarge/3.jpg" data-min-width="1000"><\/div><div data-src="images/xlarge/3.jpg" data-min-width="700"><\/div><div data-src="images/large/3.jpg" data-min-width="300"><\/div><div data-src="images/medium/3.jpg" data-min-width="200"><\/div><div data-src="images/small/3.jpg" data-min-width="140"><\/div><div data-src="images/xsmall/3.jpg"><\/div><noscript><img src="images/xsmall/3.jpg" alt="img03"/><\/noscript><\/div><\/li><li><div data-alt="img03" data-description="<h3>Sky high<\/h3>" data-max-width="1800" data-max-height="1350"><div data-src="images/xxxlarge/3.jpg" data-min-width="1300"><\/div><div data-src="images/xxlarge/3.jpg" data-min-width="1000"><\/div><div data-src="images/xlarge/3.jpg" data-min-width="700"><\/div><div data-src="images/large/3.jpg" data-min-width="300"><\/div><div data-src="images/medium/3.jpg" data-min-width="200"><\/div><div data-src="images/small/3.jpg" data-min-width="140"><\/div><div data-src="images/xsmall/3.jpg"><\/div><noscript><img src="images/xsmall/3.jpg" alt="img03"/><\/noscript><\/div><\/li><li><div data-alt="img03" data-description="<h3>Sky high<\/h3>" data-max-width="1800" data-max-height="1350"><div data-src="images/xxxlarge/3.jpg" data-min-width="1300"><\/div><div data-src="images/xxlarge/3.jpg" data-min-width="1000"><\/div><div data-src="images/xlarge/3.jpg" data-min-width="700"><\/div><div data-src="images/large/3.jpg" data-min-width="300"><\/div><div data-src="images/medium/3.jpg" data-min-width="200"><\/div><div data-src="images/small/3.jpg" data-min-width="140"><\/div><div data-src="images/xsmall/3.jpg"><\/div><noscript><img src="images/xsmall/3.jpg" alt="img03"/><\/noscript><\/div><\/li><li><div data-alt="img03" data-description="<h3>Sky high<\/h3>" data-max-width="1800" data-max-height="1350"><div data-src="images/xxxlarge/3.jpg" data-min-width="1300"><\/div><div data-src="images/xxlarge/3.jpg" data-min-width="1000"><\/div><div data-src="images/xlarge/3.jpg" data-min-width="700"><\/div><div data-src="images/large/3.jpg" data-min-width="300"><\/div><div data-src="images/medium/3.jpg" data-min-width="200"><\/div><div data-src="images/small/3.jpg" data-min-width="140"><\/div><div data-src="images/xsmall/3.jpg"><\/div><noscript><img src="images/xsmall/3.jpg" alt="img03"/><\/noscript><\/div><\/li><li><div data-alt="img03" data-description="<h3>Sky high<\/h3>" data-max-width="1800" data-max-height="1350"><div data-src="images/xxxlarge/3.jpg" data-min-width="1300"><\/div><div data-src="images/xxlarge/3.jpg" data-min-width="1000"><\/div><div data-src="images/xlarge/3.jpg" data-min-width="700"><\/div><div data-src="images/large/3.jpg" data-min-width="300"><\/div><div data-src="images/medium/3.jpg" data-min-width="200"><\/div><div data-src="images/small/3.jpg" data-min-width="140"><\/div><div data-src="images/xsmall/3.jpg"><\/div><noscript><img src="images/xsmall/3.jpg" alt="img03"/><\/noscript><\/div><\/li>']
    function fncallback() {
    $( '#loadmore' ).show().on( 'click', function() {
    ++page;
    var newitems = items[0]
    /*if( page <= 1 ) {
    Gamma.add( $( newitems ) );
    }
    if( page === 1 ) {
    $( this ).remove();
    }*/
    Gamma.add( $( newitems ) );
    } );
    }
    });
